@use "./variables.scss";

section {
  div {
    text-align: center;
    margin-bottom: 30px;
    h1 {
      margin: 50px 0 30px 0;
      font-size: 2rem;
      text-decoration: underline variables.$line-decoration-color;
    }
    h2 {
      font-size: 1rem;
      padding: 0 18%;
      @media (max-width: 500px) {
        padding: 0 5%;
        text-align: justify;
      }
    }
  }
}
