.repoList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
  justify-content: space-between;
  padding: 0;
  li {
    width: 400px;
    text-align: center;
    border: 1px solid white;
    padding: 9px 0;
    a {
      color: white;
    }
  }
}
