.expHeading {
  margin-bottom: 40px;
}

// .experience {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

.job {
  padding: 5px;
  line-height: 1.5rem;
  border: 1px solid indigo;
  border-radius: 5px;
  width: 70%;
  margin: 40px auto;
  @media screen and (max-width: 500px) {
    width: 100%;
  }
}

.job h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.job p {
  margin-bottom: 8px;
}

.education {
  margin-bottom: 40px;
  border: 1px solid indigo;
  border-radius: 5px;
  padding: 5px;
  width: 70%;
  margin: 40px auto;
  @media screen and (max-width: 500px) {
    width: 100%;
  }
}

.education h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.degree {
  font-style: italic;
}

.education p {
  margin-bottom: 8px;
}
