$main-padding: 0 25%;
$breakpoints: (
  "(max-width: 1650px)": 20%,
  "(max-width: 1400px)": 15%,
  "(max-width: 1200px)": 10%,
  "(max-width: 1050px)": 5%,
);

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: $main-padding;

  @each $breakpoint, $padding in $breakpoints {
    @media screen and #{$breakpoint} {
      padding: 0 $padding;
    }
  }
}

.heading {
  display: flex;
  gap: 50px;
  width: 100%;
}

.headingText {
  margin-top: 30px;
  min-height: 180px;
  max-width: 240px;
  min-width: 80px;
}

.profileImageContainer {
  display: flex;
  align-items: center;
}

.profileImage {
  border-radius: 50%;
}

.splitScreen {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.profileInfo {
  margin-top: 30px;
  max-width: 50%;
}

@media screen and (max-width: 800px) {
  .main {
    align-items: center;
  }
  .splitScreen {
    flex-direction: column;
    width: 300px;
  }
  .profileInfo {
    max-width: 100%;
  }
}
