.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 0 16vw;
}

.heading {
  display: flex;
  gap: 50px;
}

@media screen and (max-width: 900px) {
  .main {
    padding: 4vw;
  }
}

.profileImage {
  border-radius: 50%;
}

.splitScreen {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
