@use "/src/app/styles/variables.scss";

.about {
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
  padding: 2rem;
  background: variables.$card-background;
  border-radius: variables.$card-border-radius;
  border: variables.$card-border;
  box-shadow: variables.$card-shadow;
  color: variables.$text-secondary-color;
  line-height: 1.7;

  span {
    color: variables.$text-color;
    font-weight: 500;
  }

  @media screen and (max-width: 500px) {
    padding: 1.5rem;
  }
}

.aboutSection {
  h1 {
    position: relative;
    display: inline-block;
  }
}
