@use "src/app/variables";

.repoList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  li {
    width: 49%;
    text-align: center;
    border: 1px solid white;
    padding: 15px;
    box-shadow: 0px 1px 4px 1px rgba(255, 255, 255, 0.26);
    border-radius: 10px;
    margin: 10px 0;

    a {
      color: white;
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 925px) {
  .repoList {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    > li {
      width: 90%;
    }
  }
}

.repoButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  height: 100px;
}
