@use "/src/app/styles/variables.scss";

.repoList {
  list-style: none;
  padding: 0;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  > li {
    padding: 3%;

    margin: 40px auto;
    text-align: center;
    border: 1px solid white;
    box-shadow: 0px 1px 4px 1px rgba(255, 255, 255, 0.26);
    border-radius: 10px;

    h3 {
      margin-bottom: 40px;
    }

    a {
      color: white;
      font-size: 1.4rem;
      text-decoration-color: indigo;
    }

    p {
      margin: 1.5rem 0;
    }

    .description {
      display: flex;
      align-items: center;
      justify-content: center;
      color: whitesmoke;
      height: 150px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .repoList {
    > li {
      width: 100%;
    }
  }
}

.repoButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0;
  a button {
    width: 190px;
  }

  @media (max-width: 500px) {
    flex-direction: column;
  }
  .disabled {
    cursor: not-allowed;
    background-color: variables.$button-disabled-color;
  }
}

.deployedAppButton {
  background-color: indigo;
  &:hover {
    background-color: rgb(30, 0, 50);
  }
}
