@use "src/app/styles/variables";

$main-padding: 0 20%;
$breakpoints: (
  "(max-width: 1400px)": 15%,
  "(max-width: 1200px)": 10%,
  "(max-width: 1000px)": 5%,
);

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: $main-padding;
  @each $breakpoint, $padding in $breakpoints {
    @media screen and #{$breakpoint} {
      padding: 0 $padding;
    }
  }
}

.splitScreen {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
  h1 {
    text-align: start;
    margin-top: 30px;
    color: variables.$line-decoration-color;
    text-decoration: none;
  }
  > .heading {
    display: flex;
    gap: 30px;
    margin: 0;

    > .headingText {
      text-align: start;
      margin-top: 30px;
      min-height: 180px;
      width: 310px;
    }
  }
}

.profileImageContainer {
  display: flex;
  align-items: center;
  .profileImage {
    border-radius: 50%;
  }
}

.profileInfo {
  text-align: start;
  margin-top: 30px;
  width: 350px;
  height: 180px;
}

@media screen and (max-width: 1000px) {
  .main {
    align-items: center;
  }
  .splitScreen {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .profileInfo {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .splitScreen {
    // gap: 0;
    margin-top: 20px;
    .heading {
      gap: 0;

      flex-direction: column;
      > .headingText {
        text-align: start;
        width: 100%;
        max-width: 308.06px;
        margin: 0;
      }
      .profileImageContainer {
        align-items: baseline;
        justify-content: center;
        margin: 0;
        .profileImage {
          border-radius: 50%;
        }
      }
    }
    .profileInfo {
      margin: 0;
      margin-bottom: 50px;
    }
  }
}
