.navbar {
  text-align: center;
  background-color: indigo;
  padding-top: 120px;

  div {
    width: 100%;
    margin: -60px 0 -4vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-weight: 700;
      font-size: 2.5rem;
      margin-bottom: 12px;
      color: linear contrast;
    }
    h2 {
      font-weight: 500;
      font-size: 1.2rem;
    }
  }
  svg {
    display: block;
    position: sticky;
  }
}

@media screen and (max-width: 900px) {
  .navbar {
    margin: 0;
  }
}
